// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .SettingsPanel {
    background-color: $IO_VISIONSDK_GRAY_LIGHT_9;

    .Content {
      display: inline-block;
    }

    .Text {
      color: $IO_VISIONSDK_GRAY_DARK_9;
    }

    .MenuColumn {
      .Label {
        .Text {
          color: $IO_VISIONSDK_GRAY_DARK_2;
          font-size: 17px;
          margin-left: 12px;
          margin-top: 1px;
        }
      }

      .BasePanel {
        border: 3px solid $IO_VISIONSDK_GRAY_LIGHT_13;
        margin: 0 3px;

        .Content {
          div {
            // sass-lint:disable-block no-important
            width: 100% !important;
          }
        }
      }

      [guiType="Button"] > .Background {
        .Left {
          display: none;
        }

        .Center {
          background-color: $IO_VISIONSDK_WHITE;
          border-bottom: 1px solid $IO_VISIONSDK_GRAY_LIGHT_2;
          height: 40px;
          margin-bottom: 3px;

          .Envelop {
            text-align: left;

            .Text {
              color: $IO_VISIONSDK_GRAY_DARK_7;
              font-size: 15px;
              margin-left: 15px;
              top: 12px;
            }
          }
        }

        .Right {
          display: none;
        }
      }
    }

    .DescriptionColumn {
      .Label {
        .Text {
          color: $IO_VISIONSDK_GRAY_DARK_2;
          font-size: 17px;
          margin-left: 12px;
        }
      }

      .BaseTextPanel {
        border: 3px solid $IO_VISIONSDK_GRAY_LIGHT_13;
        margin: 0 3px;

        .Label {
          .Text {
            color: $IO_VISIONSDK_GRAY_DARK_5;
            font-size: 16px;
            margin: 8px;
          }
        }
      }
    }

    .Header {
      background-color: $IO_VISIONSDK_ORANGE;

      .Text {
        color: $IO_VISIONSDK_WHITE;
        font-size: 17px;
        margin-left: 24px;
        margin-top: 1px;
      }
    }

    .MultiPanelColumn {
      position: relative;

      > [guiType="GuiRow"] {
        position: absolute;
      }

      .ProjectSettingsPanel,
      .ConnectionSettingsPanel,
      .ToolchainSettingsPanel,
      .AboutSettingsPanel {
        background-color: $IO_VISIONSDK_WHITE;
        border-left: 2px solid $IO_VISIONSDK_ORANGE;
        border-right: 2px solid $IO_VISIONSDK_ORANGE;
        position: relative;
        z-index: 1000;
      }
    }

    .ButtonRow {
      background-color: $IO_VISIONSDK_WHITE;
      box-shadow: inset 2px 0 0 $IO_VISIONSDK_ORANGE, inset -2px 0 0 $IO_VISIONSDK_ORANGE, inset 0 -2px 0 0 $IO_VISIONSDK_ORANGE;
    }

    .BuildBar {
      display: none;
    }

    .Button .Splitter + .Text {
      font-size: 15px;
      top: 12px;
    }
  }
}
