// * ********************************************************************************************************* *
// *
// * Copyright (c) 2019 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../baseReference";

.AreaPanel {
  > [guiType="Panel"] > .Envelop > .Content {
    display: inline-block;
    height: 100%;

    > [guiType="ViewEnvelop"] {
      bottom: 0;
      font-size: 0;
      left: 0;
      line-height: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;

      > [guiType="AreaEnvelop"] {
        position: absolute;

        .Text {
          line-height: normal;
        }

        .ResizeBars {
          div {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
          }

          .ResizeBar {
            .X {
              background: transparent;
              border: 0;
              bottom: 0;
              height: unset;
              top: 0;
              width: 8px;
            }

            .Y {
              background: transparent;
              border: 0;
              height: 8px;
              left: 0;
              right: 0;
              width: unset;
            }

            .XY {
              background: transparent;
              border: 0;
              height: 8px;
              width: 8px;
            }
          }

          //   top left start, clockwise
          > div:nth-child(1) {
            .ResizeBar {
              .XY {
                cursor: nwse-resize;
                top: 0;
                z-index: 4;
              }
            }
          }

          > div:nth-child(2) {
            .ResizeBar {
              .Y {
                top: 0;
                z-index: 3;
              }
            }
          }

          > div:nth-child(3) {
            .ResizeBar {
              .XY {
                cursor: nesw-resize;
                left: unset;
                right: 0;
                top: 0;
                z-index: 4;
              }
            }
          }

          > div:nth-child(4) {
            .ResizeBar {
              .X {
                left: unset;
                right: 0;
                z-index: 3;
              }
            }
          }

          > div:nth-child(5) {
            .ResizeBar {
              .XY {
                bottom: 0;
                cursor: nwse-resize;
                left: unset;
                right: 0;
                top: unset;
                z-index: 4;
              }
            }
          }

          > div:nth-child(6) {
            .ResizeBar {
              .Y {
                bottom: 0;
                top: unset;
                z-index: 3;
              }
            }
          }

          > div:nth-child(7) {
            .ResizeBar {
              .XY {
                bottom: 0;
                cursor: nesw-resize;
                left: 0;
                top: unset;
                z-index: 4;
              }
            }
          }

          > div:nth-child(8) {
            .ResizeBar {
              .X {
                left: 0;
                z-index: 3;
              }
            }
          }
        }

        .AreaBackground {
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 2;
        }

        > .On,
        > .Active,
        > .Off,
        > .Error {
          left: 0;
          position: absolute;
          top: 0;

          .NodeGroup {
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            z-index: 8;
          }
        }

        &.On,
        &.Off {
          > .CollapseArea {
            height: 100%;
          }

          > .ExpandArea {
            bottom: 0;
            display: none;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;

            .DimensionsIndicator {
              // sass-lint:disable-block no-important
              [guiType="GuiWrapper"] {
                position: initial;
              }

              .TopLeft {
                .Text {
                  transform-origin: bottom left !important;
                }
              }

              .TopRight {
                .Text {
                  transform-origin: bottom right !important;
                }
              }

              .BottomRight {
                .Text {
                  transform-origin: top right !important;
                }
              }

              .BottomLeft {
                .Text {
                  transform-origin: top left !important;
                }
              }

              .Text {
                position: absolute;
              }
            }
          }
        }
      }
    }
  }
}
