// * ********************************************************************************************************* *
// *
// * Copyright (c) 2019 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../baseReference";

.ControlPanel {
  @include setOpacity(0);
  overflow: visible !important;
  position: absolute;
  z-index: 10;

  // sass-lint:disable-block no-important
  > [guiType="Panel"] > .Envelop {
    overflow: visible !important;
    position: absolute;
    z-index: 3;

    .ZoomMenu {
      .ZoomButton {
        // sass-lint:disable-block no-vendor-prefixes
        @include setOpacity(0);
        -moz-transition: opacity 200ms linear;
        -ms-transition: opacity 200ms linear;
        -o-transition: opacity 200ms linear;
        -webkit-transition: opacity 200ms linear;
        transition: opacity 200ms linear;
      }

      &:hover {
        .ZoomButton {
          @include setOpacity(100);
        }
      }
    }
  }
}
