// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .AppWizardPanel {
    > [guiType="Panel"] > .Envelop > .Content {
      position: initial;
    }

    .Navigation {
      height: 28px;
      left: 0;
      position: absolute;
      top: -28px;
      width: 100%;

      .WizardLogo {
        float: left;
        position: absolute;
      }

      .ImageButton {
        bottom: 0;
        cursor: default;
        position: fixed;
        top: 0;
        width: 40px;
        z-index: 9999999;

        .Icon {
          @include setOpacity(.15);
          border-radius: 20px;
          height: 40px;
          left: -14px;
          top: -11px;
          width: 40px;
        }

        .On .Icon {
          background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
        }

        .Disable {
          @include setOpacity(.4);
        }
      }

      .ArrowLeft,
      .ArrowRight {
        cursor: pointer;
        left: 14px;
        position: absolute;
        top: 50%;
      }

      .Back .ImageButton {
        background: linear-gradient(to left, transparent, $IO_VISIONSDK_GRAY_DARK_9);
        left: 0;
        pointer-events: all;
      }

      .Forward .ImageButton {
        background: linear-gradient(to right, transparent, $IO_VISIONSDK_GRAY_DARK_9);
        pointer-events: all;
        right: 0;
      }
    }

    .EmulatorEnvelop {
      display: none;
      left: 0;
      pointer-events: none;
      position: fixed;
      top: 0;
    }
  }
}
