// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .ConsolePanel {
    .ConsoleText {
      // sass-lint:disable-block no-important
      height: unset !important;
      padding-bottom: 42px;
      width: unset !important;

      .TimeStamp {
        color: $IO_VISIONSDK_GRAY_DARK_4;
        display: block;
        font-size: 11px;
        margin: 8px 0 1px 11px;
        position: relative;
      }

      .ConsoleMessage {
        color: $IO_VISIONSDK_WHITE;
        display: block;
        font-size: 13px;
        line-height: 16px;
        margin: 3px 12px;
        position: relative;

        a {
          color: $IO_VISIONSDK_GREEN_LIGHT_3;
          cursor: pointer;
        }
      }
    }
  }
}
