// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .DirectoryBrowserPanel {
    background-color: $IO_VISIONSDK_GRAY_LIGHT_10;

    .Panel {
      // sass-lint:disable-block no-important
      display: table !important;
      height: 100%;
      width: 100%;
    }
  }
}
