// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .KernelNodeHelpPanel {
    background-color: $IO_VISIONSDK_GRAY_LIGHT_10;

    .SpecsEnvelop,
    .InfoEnvelop {
      float: left;
    }

    .SpecsEnvelop {
      iframe {
        border-width: 0;
        display: block;
      }
    }

    .InfoEnvelop {
      padding: 30px;

      .Label {
        clear: both;
        float: none;
        line-height: 22px;
        padding-top: 10px;

        .Text {
          color: $IO_VISIONSDK_GRAY_DARK_7;
          font-weight: bold;
        }
      }

      .Name,
      .SpecsLink {
        .Text {
          color: $IO_VISIONSDK_SKYBLUE;
        }
      }

      .Info .Text {
        font-size: 14px;
        font-weight: normal;
        text-align: justify;
      }

      .SpecsLink .Text {
        cursor: pointer;
        font-weight: normal;
        padding-top: 20px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
