// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .ProjectDescriptionPanel {
    .Label {
      clear: both;
      padding-left: 24px;
      padding-right: 24px;
    }

    .ProjectName .Label {
      font-size: 22px;
      padding-bottom: 15px;
    }
  }
}
