// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .ProjectPickerPanel {
    padding-right: 0;

    .Header {
      font-size: 30px;
    }

    .SelectionPanel {
      border-right: 1px solid $IO_VISIONSDK_GRAY;
      width: 99.5%;
    }

    .ProjectDescriptionPanel {
      .Label {
        float: none;

        .Text {
          width: 100%;

          img {
            display: block;
            margin: auto;
            max-height: 375px;
            max-width: 500px;
            position: relative;
          }

          img:after {
            background-color: $IO_VISIONSDK_GRAY_LIGHT_10;
            content: " ";
            height: 375px;
            left: 0;
            position: absolute;
            top: 0;
            width: 500px;
            z-index: 2;
          }
        }
      }
    }
  }
}
