// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018-2019 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

$IOVISIONSDK_CONTROLPANEL_ORANGE: (
  background: $IO_VISIONSDK_ORANGE
);

$IOVISIONSDK_CONTROLPANEL_SKYBLUE: (
  background: $IO_VISIONSDK_SKYBLUE
);

$IOVISIONSDK_CONTROLPANEL_GREEN: (
  background: $IO_VISIONSDK_GREEN
);

$IOVISIONSDK_CONTROLPANEL_GREENDARK: (
  background: $IO_VISIONSDK_GREEN_DARK
);

$IOVISIONSDK_CONTROLPANEL_GRAY: (
  background: $IO_VISIONSDK_GRAY_DARK_6
);

$IOVISIONSDK_CONTROLPANEL_TYPEMAP: (
  // sass-lint:disable-block no-color-keywords
  Orange: $IOVISIONSDK_CONTROLPANEL_ORANGE,
  SkyBlue: $IOVISIONSDK_CONTROLPANEL_SKYBLUE,
  Green: $IOVISIONSDK_CONTROLPANEL_GREEN,
  GreenDark: $IOVISIONSDK_CONTROLPANEL_GREENDARK,
  Gray: $IOVISIONSDK_CONTROLPANEL_GRAY
);

.#{$IoVisionSDKStudioGuiPanels} {
  .ControlPanel {
    @include ControlPanel($IOVISIONSDK_CONTROLPANEL_TYPEMAP);
  }
}
