// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .DetailsPanel {
    .Accordion {
      padding-left: 3px;
      padding-right: 3px;
    }

    .DirectoryBrowser {
      background: $IO_VISIONSDK_GRAY_LIGHT_9;

      &:last-of-type {
        border: 3px solid $IO_VISIONSDK_GRAY_LIGHT_13;
        border-top: 0;
      }

      .Loader {
        // sass-lint:disable-block no-important
        display: none !important;
      }

      .Items {
        > .Item {
          > .Readonly {
            .Icon {
              background: $IO_VISIONSDK_USERCONTROLS_HIERARCHYVIEW_VISUALGRAPH;
            }

            .Active {
              background-color: $IO_VISIONSDK_ORANGE_LIGHT_1;
            }
          }

          .Active {
            .Text {
              color: $IO_VISIONSDK_WHITE;
            }

            .Nested {
              @include setOpacity(.4);
              background-color: $IO_VISIONSDK_WHITE;
            }
          }

          .Readonly {
            .On,
            .Off,
            .Active {
              padding-left: 7px;
            }
          }

          .Nested {
            background-color: $IO_VISIONSDK_GRAY_LIGHT_6;
            top: -3px;
          }

          > div > .Item {
            > .Readonly {
              .Icon {
                background: $IO_VISIONSDK_USERCONTROLS_HIERARCHYVIEW_VXCONTEXT;
              }

              .Active {
                background-color: $IO_VISIONSDK_SKYBLUE_LIGHT_1;
              }
            }

            > div > .Item {
              > .Readonly {
                .Icon {
                  background: $IO_VISIONSDK_USERCONTROLS_HIERARCHYVIEW_VXGRAPH;
                }

                .Active {
                  background-color: $IO_VISIONSDK_GREEN_LIGHT_1;
                }
              }

              > div > .Item {
                > .Readonly {
                  .Icon {
                    background: $IO_VISIONSDK_USERCONTROLS_HIERARCHYVIEW_VXNODE;
                  }

                  .Active {
                    background-color: $IO_VISIONSDK_GREEN_LIGHT_3;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
