// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .EditorPanel {
    // sass-lint:disable-block no-vendor-prefixes no-misspelled-properties
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background-color: $IO_VISIONSDK_GRAY_LIGHT_9;
    position: relative;
    user-select: none;

    .StatusEnvelop {
      vertical-align: middle;

      .StatusLabel {
        font-size: 12px;
        line-height: 16px;
        overflow: hidden;
        vertical-align: middle;

        .Label {
          margin-left: 20px;
          position: relative;
        }
      }
    }
  }
}
