// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .GeneralNotificationsPanel {
    position: absolute;
    top: 76px;
    z-index: 9999;

    [guiType="GeneralNotificationsPanel"] {
      position: relative;

      > .Top,
      > .Middle,
      > .Bottom {
        clear: both;

        > .Left,
        > .Right,
        > .Center {
          float: left;
        }
      }

      > .Top {
        > .Left,
        > .Center,
        > .Right {
          height: 0;
        }
      }

      > .Middle {
        > .Left,
        > .Right {
          height: 30px;
          width: 5px;
        }

        > .Center {
          height: 30px;
          position: relative;

          > .Content {
            height: 35px;
            left: -5px;
            padding: 0;
            position: absolute;
          }
        }
      }

      > .Bottom {
        > .Left,
        > .Right {
          height: 5px;
          width: 5px;
        }

        > .Center {
          height: 5px;
        }

      }
    }

    .GeneralNotificationsPanel {
      float: left;

      .Middle .Center {
        .Splitter {
          display: none;
          height: 1px;
          width: 100%;
        }
      }
    }
  }
}
