// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .KernelNodesPickerPanel {
    // sass-lint:disable-block no-important
    background-color: transparent;
    overflow: visible !important;

    > [guiType="Panel"] > .Envelop {
      @include setOpacity(0);
      overflow: visible !important;
    }

    .NodesFilterRow {
      position: absolute;
      right: -1px;
      top: -35px;
      width: auto;
    }

    .Accordion {
      padding-left: 3px;
      padding-right: 4px;

      .VerticalPanelHolder {
        .BasePanel {
          padding-top: 3px;

          .KernelNodeButton {
            margin-left: 3px;
            margin-right: 3px;
            padding-bottom: 3px;
          }
        }
      }
    }
  }
}
