// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .LayerSelectorPanel {
    background-color: $IO_VISIONSDK_GRAY_LIGHT_9;
    clear: both;
    height: 34px;
    width: 100%;

    .Button {
      .Active {
        .Envelop {
          background-color: $IO_VISIONSDK_GRAY_LIGHT_6;
        }
      }

      .On {
        .Envelop {
          background-color: $IO_VISIONSDK_GRAY_LIGHT_4;
        }
      }

      [guiType="Button"] {
        > .Background {
          .Icon {
            top: 8px;
          }

          .Left,
          .Center,
          .Right {
            height: 36px;
          }

          > .Center > .Envelop {
            height: 36px;
          }
        }
      }

      .Transparent {
        .Splitter {
          display: none;
        }

        .Text {
          display: none;
        }
      }
    }
  }
}
