// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .NodesFilterPanel {
    clear: both;
    height: 34px;
    width: 100%;

    [guiType="GuiRow"] {
      overflow: hidden;
    }

    .TextField {
      height: 30px;

      .Icon {
        // sass-lint:disable-block no-vendor-prefixes
        -ms-filter: invert(60%);
        -webkit-filter: invert(60%);
        filter: invert(60%);
        top: 3px;
      }

      .Hint {
        color: $IO_VISIONSDK_GRAY_DARK_4;
      }

      .Property {
        input {
          font-size: 14px;
          left: 11px;
          top: 3px;
        }

        .On [guiType="TextField"],
        .Off [guiType="TextField"],
        .Active [guiType="TextField"],
        [guiType="TextField"] {
          > .Background {
            > .Left {
              background-color: $IO_VISIONSDK_GRAY_LIGHT_4;
              border-bottom: 0;
              border-radius: 20px 0 0 20px;
              box-shadow: 0 0 0 1px $IO_VISIONSDK_GRAY_DARK_2 inset;
              height: 30px;
              width: 32px;
            }

            > .Center,
            > .Right {
              background-color: $IO_VISIONSDK_GRAY_LIGHT_11;
              border-bottom: 0;
              box-shadow: 0 0 0 1px $IO_VISIONSDK_GRAY_DARK_2 inset;
              height: 30px;
              margin-left: -1px;
            }

            > .Center {
              > .Envelop {
                left: -22px;
              }
            }

            > .Right {
              display: none;
            }
          }
        }
      }
    }

    .Icons {
      border-radius: 18px;
      height: 32px;
      position: relative;
      top: 1px;
      width: 32px;

      .Icon {
        cursor: pointer;
        left: 7px;
        position: relative;
        top: 5px;
      }
    }

    .Splitter {
      background-color: $IO_VISIONSDK_GRAY_DARK_4;
      height: 26px;
      left: 6px;
      position: relative;
      top: 5px;
      width: 1px;
    }
  }

}
