// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .PropertiesPanel {
    border: 3px solid $IO_VISIONSDK_GRAY_LIGHT_13;
    border-top: 0;

    [guiType="Panel"] {
      .Content {
        display: inline-block;
      }

      .ScrollBar {
        .Horizontal {
          .HoverExpand {
            height: 12px;
          }

          .ContentOffset {
            height: 0;
          }
        }

        .Vertical {
          .HoverExpand {
            width: 12px;
          }

          .ContentOffset {
            width: 0;
          }
        }
      }

      .FormInput {
        margin-bottom: 3px;
        width: 100%;
      }

      .Image {
        .Background {
          background-color: $IO_VISIONSDK_GRAY_LIGHT_5;
        }

        img {
          position: relative;
        }

        img:after {
          background-color: $IO_VISIONSDK_GRAY_LIGHT_5;
          content: " ";
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 2;
        }
      }
    }
  }
}
