// * ********************************************************************************************************* *
// *
// * Copyright (c) 2019 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

$IO_VISIONSDK_DROPDOWNBUTTON_GRAYLISTLARGE: (
  buttonAccentColor: $IO_VISIONSDK_WHITE,
  buttonColorActiveFrom: $IO_VISIONSDK_GRAY_LIGHT_8,
  buttonColorActiveTo: $IO_VISIONSDK_GRAY_LIGHT_8,
  buttonColorFrom: $IO_VISIONSDK_GRAY_DARK_6,
  buttonColorTo: $IO_VISIONSDK_GRAY_DARK_6,
  height: 30,
  fontSize: 14,
  isTriangular: false,
  isArrowVisible: false,
  listActiveColor: $IO_VISIONSDK_GREEN_LIGHT_5,
  listBackgroundColor: $IO_VISIONSDK_GRAY_LIGHT_8,
  listBorderColor: $IO_VISIONSDK_GRAY_DARK_2,
  listFontActiveColor: $IO_VISIONSDK_GRAY_DARK_7,
  listFontColor: $IO_VISIONSDK_GRAY_DARK_10
);

$IO_VISIONSDK_SETTINGSAREAPANEL_DROPDOWNBUTTON_TYPEMAP: (
  // sass-lint:disable-block no-color-keywords
  GrayListLarge: $IO_VISIONSDK_DROPDOWNBUTTON_GRAYLISTLARGE
);


.#{$IoVisionSDKStudioGuiPanels} {
  .SettingsAreaPanel {
    .Panel {
      position: absolute;
      z-index: 2;
    }

    [guiType="AreaEnvelop"] {
      margin-top: 34px;
    }
  }
}
