// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .ToolbarPanel {
    // sass-lint:disable-block no-important
    @include setLinearGradient($IO_VISIONSDK_GRAY, $IO_VISIONSDK_GRAY_LIGHT_9);
    clear: both;
    height: 34px;
    overflow: visible !important;
    width: 100%;

    > [guiType="Panel"] > .Envelop {
      // sass-lint:disable-block no-important
      overflow: visible !important;
    }

    .ToolTip {
      line-height: initial;
    }

    .Buttons {
      float: left;
      padding-left: 25px;
      position: relative;
      top: 5px;
      width: 196px;

      .ImageButton {
        margin-right: 3px;
      }

      .FileMenu {
        float: left;
        margin-right: 3px;
        position: relative;
        width: 29px;

        .DropDownList {
          .Selected {
            display: none;
          }

          .Item {
            overflow: hidden;
            white-space: nowrap;
          }

          .Button {
            &:hover {
              cursor: initial;
            }
            @include setOpacity(30);
            border: 1px solid transparent;
            border-radius: 15px;
            height: 27px;
            width: 27px;

            .Icon {
              background: $IO_VISIONSDK_USERCONTROLS_ICON_LOAD no-repeat;
              height: 15px;
              margin-left: 5px;
              margin-top: 5px;
              width: 20px;
            }
          }

          .On,
          .Off,
          .Active {
            .Button {
              &:hover {
                cursor: pointer;
              }
              @include setOpacity(100);
            }
          }

          .On,
          .Active {
            .Button {
              background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
            }
          }

          .List {
            // sass-lint:disable-block no-important
            line-height: 14px;
            top: -25px;
            z-index: 999999 !important;

            .Background {
              left: 12px;
              position: relative;
              top: 25px;

              .Left,
              .Center,
              .Right {
                background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
                border-color: $IO_VISIONSDK_GRAY_DARK_2;
              }

              .Top,
              .Bottom {
                .Left,
                .Right,
                .Center {
                  height: 0;
                }
              }

              .Middle .Center > .Content {
                top: 0;
              }

              .Top {
                .Left {
                  border-left: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
                }

                .Right {
                  border-right: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
                }

                .Left,
                .Center,
                .Right {
                  border-bottom: 0;
                  border-top: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
                }
              }
            }
          }

          [guiType="FieldButton"],
          [guiType="ListButton"] {
            height: 27px;
            position: relative;
            width: 27px;
          }

          [guiType="FieldButton"] {
            // sass-lint:disable-block no-important
            display: block !important;
            z-index: 1;
          }

          [guiType="ListButton"] {
            // sass-lint:disable-block no-important
            display: none !important;
          }

          .WithSplitter {
            .Separator {
              border-bottom: 1px solid $IO_VISIONSDK_GRAY_DARK_7;
            }
          }
        }
      }
    }

    .BuildBar {
      background-color: $IO_VISIONSDK_GRAY_LIGHT_4;
      border-radius: 20px;
      box-shadow: 0 0 0 1px $IO_VISIONSDK_GRAY_DARK_2 inset;
      float: left;
      height: 30px;
      position: relative;
      top: 5px;
      width: 252px;

      .ImageButton {
        margin-left: 5px;
        margin-right: 2px;
        position: relative;
        top: 2px;

        .ToolbarItem {
          .On,
          .Active {
            background-color: $IO_VISIONSDK_GRAY_LIGHT_9;
          }
        }
      }

      .Last .ImageButton {
        margin-left: 1px;
        margin-right: 0;
      }

      .ToolbarItem {
        .Off,
        .On,
        .Active,
        .Disable {
          height: 23px;
          width: 23px;
        }

        .Terminal .Icon {
          margin-left: 0;
          margin-top: 3px;
        }

        .RunInLoop,
        .StopLoop {
          .Icon {
            margin-left: 2px;
            margin-top: 3px;
          }
        }

        .RunOnce .Icon {
          margin-left: 3px;
          margin-top: 3px;
        }
      }

      .PlatformBar {
        border-left: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
        border-right: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
        float: left;
        height: 29px;
        margin-top: 1px;

        .Config {
          .Item {
            background-color: $IO_VISIONSDK_GRAY;
          }

          .Separator {
            // sass-lint:disable-block no-important
            border-bottom: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
            display: block !important;
          }
        }

        .ProgressBar {
          background-color: $IO_VISIONSDK_GRAY_LIGHT_9;
          border-width: 0;
          overflow: hidden;
          position: absolute;
          z-index: 9999;

          .Background {
            .Left,
            .Center,
            .Right {
              height: 28px;
            }

            .Bar {
              height: 28px;
              top: 0;

              canvas {
                height: 28px;
              }
            }
          }

          .Text {
            font-size: 12px;
            line-height: 28px;
          }
        }
      }
    }

    .Button {
      float: none;

      .GreenMedium {
        left: 18px;
        position: relative;
        top: 5px;

        .Splitter + .Text {
          top: 6px;
        }

        .Background {
          .Left,
          .Center,
          .Right {
            height: 28px;
          }

          .Left,
          .Right {
            display: none;
          }

          .Center {
            border: 1px solid $IO_VISIONSDK_GREEN;
            border-radius: 15px;
          }
        }

        [guiType="Button"] > .Background > .Center > .Envelop {
          height: 28px;
          left: 0;

          > .Content {
            height: 28px;
          }
        }
      }
    }
  }
}
