// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2019 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

$IOVISIONSDK_VISUALGRAPHPANEL_ORANGE: (
  areaBackgroundOff: $IO_VISIONSDK_WHITE,
  areaBackgroundOn: (url($IO_VISIONSDK_STUDIO_GUI_BASE_INTERFACE_GRID_XY_PATH) repeat, $IO_VISIONSDK_WHITE),
  panelBackground: $IO_VISIONSDK_GRAY_DARK_5,
  expandBackground: (url($IO_VISIONSDK_STUDIO_GUI_BASE_INTERFACE_GRID_XY_PATH) repeat, $IO_VISIONSDK_PASTEL_GREEN),
  collapseBackground: (url($IO_VISIONSDK_STUDIO_GUI_BASE_INTERFACE_GRID_XY_PATH) repeat, $IO_VISIONSDK_GRAY_LIGHT_2),
  panelBorderSizePx: 2,
  accentColor: $IO_VISIONSDK_ORANGE
);

$IOVISIONSDK_VISUALGRAPHPANEL_SKYBLUE: (
  areaBackgroundOff: $IO_VISIONSDK_WHITE,
  areaBackgroundOn: (url($IO_VISIONSDK_STUDIO_GUI_BASE_INTERFACE_GRID_XY_PATH) repeat, $IO_VISIONSDK_WHITE),
  panelBackground: $IO_VISIONSDK_GRAY_DARK_5,
  expandBackground: (url($IO_VISIONSDK_STUDIO_GUI_BASE_INTERFACE_GRID_XY_PATH) repeat, $IO_VISIONSDK_PASTEL_GREEN),
  collapseBackground: (url($IO_VISIONSDK_STUDIO_GUI_BASE_INTERFACE_GRID_XY_PATH) repeat, $IO_VISIONSDK_GRAY_LIGHT_2),
  panelBorderSizePx: 2,
  accentColor: $IO_VISIONSDK_SKYBLUE
);

$IOVISIONSDK_VISUALGRAPHPANEL_GREEN: (
  areaBackgroundOff: $IO_VISIONSDK_WHITE,
  areaBackgroundOn: (url($IO_VISIONSDK_STUDIO_GUI_BASE_INTERFACE_GRID_XY_PATH) repeat, $IO_VISIONSDK_WHITE),
  panelBackground: $IO_VISIONSDK_GRAY_DARK_5,
  expandBackground: (url($IO_VISIONSDK_STUDIO_GUI_BASE_INTERFACE_GRID_XY_PATH) repeat, $IO_VISIONSDK_PASTEL_GREEN),
  collapseBackground: (url($IO_VISIONSDK_STUDIO_GUI_BASE_INTERFACE_GRID_XY_PATH) repeat, $IO_VISIONSDK_GRAY_LIGHT_2),
  panelBorderSizePx: 2,
  accentColor: $IO_VISIONSDK_GREEN
);

$IOVISIONSDK_VISUALGRAPHPANEL_GREENDARK: (
  areaBackgroundOff: $IO_VISIONSDK_WHITE,
  areaBackgroundOn: (url($IO_VISIONSDK_STUDIO_GUI_BASE_INTERFACE_GRID_XY_PATH) repeat, $IO_VISIONSDK_WHITE),
  panelBackground: $IO_VISIONSDK_GRAY_DARK_5,
  expandBackground: (url($IO_VISIONSDK_STUDIO_GUI_BASE_INTERFACE_GRID_XY_PATH) repeat, $IO_VISIONSDK_PASTEL_GREEN),
  collapseBackground: (url($IO_VISIONSDK_STUDIO_GUI_BASE_INTERFACE_GRID_XY_PATH) repeat, $IO_VISIONSDK_GRAY_LIGHT_2),
  panelBorderSizePx: 2,
  accentColor: $IO_VISIONSDK_GREEN_DARK
);

$IOVISIONSDK_VISUALGRAPHPANEL_TYPEMAP: (
  // sass-lint:disable-block no-color-keywords
  Orange: $IOVISIONSDK_VISUALGRAPHPANEL_ORANGE,
  SkyBlue: $IOVISIONSDK_VISUALGRAPHPANEL_SKYBLUE,
  Green: $IOVISIONSDK_VISUALGRAPHPANEL_GREEN,
  GreenDark: $IOVISIONSDK_VISUALGRAPHPANEL_GREENDARK
);

.#{$IoVisionSDKStudioGuiPanels} {
  .VisualGraphPanel {
    &.AreaPanel {
      @include AreaPanel($IOVISIONSDK_VISUALGRAPHPANEL_TYPEMAP);
    }

    .NodeGroup {
      border-radius: 20px;
      position: absolute;
    }

    .Error > .NodeGroup {
      border: 2px solid $IO_VISIONSDK_RED;
    }

    .On > .NodeGroup {
      border: 2px solid $IO_VISIONSDK_GRAY;
    }

    [guiType="ViewEnvelop"] {
      .Active .NodeGroup {
        border: 2px solid $IO_VISIONSDK_ORANGE;
      }

      &.SkyBlue {
        .Active .NodeGroup {
          border: 2px solid $IO_VISIONSDK_SKYBLUE;
        }
      }

      &.Green {
        .Active .NodeGroup {
          border: 2px solid $IO_VISIONSDK_GREEN;
        }
      }

      &.GreenDark {
        .Active .NodeGroup {
          border: 2px solid $IO_VISIONSDK_GREEN_DARK;
        }
      }
    }

    .Text {
      line-height: normal;
    }

    > [guiType="Panel"] > .Envelop {
      > .Content {
        > div > div > .KernelNode {
          @include setOpacity(0);
        }

        [guiType="AreaEnvelop"] {
          margin-top: 34px;
          position: absolute;

          > .On,
          > .Active,
          > .Off,
          > .Error {
            left: 0;
            position: absolute;
            top: 0;

            .NodeGroup {
              bottom: 0;
              left: 0;
              right: 0;
              top: 0;
              z-index: 8;
            }
          }

          &.On {
            > .JoinArea {
              .Line,
              .ActiveLine,
              .ErrorLine,
              .HoveredLine,
              .StackedLine,
              .ActiveStackedLine,
              .ActiveErrorLine,
              .HoveredErrorLine,
              .ErrorStackedLine,
              .ActiveErrorStackedLine {
                stroke: $IO_VISIONSDK_GRAY_DARK_4;
              }
            }
          }

          &.On,
          &.Off {
            .DropArea {
              left: 0;
              position: absolute;
              top: 0;
            }

            .JoinArea {
              left: 0;
              overflow: visible;
              position: absolute;
              top: 0;
              z-index: 2;

              .StackedLine,
              .ActiveStackedLine,
              .ErrorStackedLine,
              .ActiveErrorStackedLine {
                // sass-lint:disable-block no-vendor-prefixes
                -moz-transform: translate(-.5px, -.5px);
                -ms-transform: translate(-.5px, -.5px);
                -o-transform: translate(-.5px, -.5px);
                -webkit-transform: translate(-.5px, -.5px);
                transform: translate(-.5px, -.5px);
              }

              .Line {
                stroke: $IO_VISIONSDK_GRAY_DARK_6;
                stroke-width: 2px;
              }

              .StackedLine {
                stroke: $IO_VISIONSDK_GRAY_DARK_6;
                stroke-width: 3px;
              }

              .ActiveStackedLine {
                stroke: $IO_VISIONSDK_GREEN_LIGHT_1;
                stroke-width: 3px;
              }

              .ActiveErrorLine,
              .HoveredErrorLine {
                stroke: $IO_VISIONSDK_RED;
                stroke-width: 2px;
              }

              .ErrorStackedLine {
                stroke: $IO_VISIONSDK_RED_DARK_1;
                stroke-width: 3px;
              }

              .ActiveErrorStackedLine {
                stroke: $IO_VISIONSDK_RED;
                stroke-width: 3px;
              }

              .LineEnvelop {
                stroke: $IO_VISIONSDK_GRAY_DARK_6;
                stroke-opacity: 0;
                stroke-width: 10px;
              }

              .DisabledLineEnvelop {
                stroke-width: 0;
              }

              .DisabledLine {
                stroke-width: 0;
              }

              .ActiveLine {
                stroke: $IO_VISIONSDK_GREEN_LIGHT_1;
                stroke-width: 2px;
              }

              .HoveredLine {
                stroke: $IO_VISIONSDK_GREEN_LIGHT_3;
                stroke-width: 2px;
              }

              .ErrorLine {
                stroke: $IO_VISIONSDK_RED_DARK_1;
                stroke-width: 2px;
              }
            }
          }
        }
      }
    }

    .KernelNode {
      position: absolute;
    }
  }
}
