// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPanels} {
  .KernelEditorPanel {
    background-color: $IO_VISIONSDK_GRAY_LIGHT_10;

    .Header {
      font-size: 30px;
      position: relative;
      top: 30px;
    }

    .NotificationPanel {
      position: relative;
      top: -10px;
    }

    .Button .Splitter + .Text {
      top: 12px;
    }

    .TextField input {
      z-index: 0;
    }

    .ParametersTableHeader {
      .InputLabel {
        .Property {
          .Background {
            .Left {
              background: $IO_VISIONSDK_GRAY_DARK_5 no-repeat;
            }

            .Center {
              background: $IO_VISIONSDK_GRAY_DARK_5 repeat-x;

              .Text {
                color: $IO_VISIONSDK_GRAY_DARK_10;
              }
            }

            .Right {
              background: $IO_VISIONSDK_GRAY_DARK_5 no-repeat;
            }
          }
        }
      }
    }

    .ParameterEditor {
      position: absolute;
      top: -100px;
      z-index: 100;

      .DropDownList,
      .TextField {
        background-color: $IO_VISIONSDK_GRAY_LIGHT_10;
      }

      .DropDownList .Setting {
        .Field .Item {
          top: 2px;
        }

        .List .Selected .Item {
          top: -2px;
        }
      }
    }
  }
}
