// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoVisionSDKStudioGuiPages} {
  .EditorPage {
    position: relative;

    .ContextMenu {
      .DropDownList {
        // sass-lint:disable-block no-important
        position: absolute;
        z-index: 99999 !important;

        .Field {
          display: none !important;
        }

        .Selected {
          display: none;
        }

        .Item {
          overflow: hidden;
          white-space: nowrap;
        }

        .Off,
        .On,
        .Active,
        .Disable {
          .Button {
            display: none;
          }
        }

        .On,
        .Active {
          .Button {
            background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
          }
        }

        .List {
          // sass-lint:disable-block no-important
          left: 10px;
          line-height: 14px;
          top: -10px;
          z-index: 999999 !important;

          .Background {
            left: 0;
            position: relative;
            top: 0;

            .Left,
            .Center,
            .Right {
              background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
              border-color: $IO_VISIONSDK_GRAY_DARK_5;
            }

            .Middle .Center > .Content {
              top: 0;
            }

            .Top,
            .Bottom {
              .Left,
              .Right,
              .Center {
                height: 0;
              }
            }

            .Top {
              .Left {
                border-left: 1px solid $IO_VISIONSDK_GRAY_DARK_5;
              }

              .Right {
                border-right: 1px solid $IO_VISIONSDK_GRAY_DARK_5;
              }

              .Left,
              .Center,
              .Right {
                border-bottom: 0;
                border-top: 1px solid $IO_VISIONSDK_GRAY_DARK_5;
              }
            }
          }
        }

        [guiType="FieldButton"],
        [guiType="ListButton"] {
          display: none;
        }

        [guiType="FieldButton"] {
          display: none;
        }

        [guiType="ListButton"] {
          display: none;
        }

        .WithSplitter {
          .Separator {
            border-bottom: 1px solid $IO_VISIONSDK_GRAY_DARK_7;
          }
        }
      }
    }

    .NotificationPanel {
      bottom: 0;
      left: 0;
      position: fixed;
    }

    > [guiType="Panel"] > .Envelop > .Content > .Panel {
      left: 0;
      position: absolute;
      top: 0;
    }

    @mixin DialogMixin($TOP_BAR_HEIGHT, $BOTTOM_HEIGHT, $INNER_PADDING) {
      // sass-lint:disable-block no-important
      z-index: 99999 !important;

      [guiType="Dialog"] {
        > .Envelop {
          // sass-lint:disable-block no-color-literals
          background-color: rgba(0, 0, 0, .5);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, .7);

          .ImageButton .AppClose {
            .On,
            .Active {
              background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_APP_CLOSE_OFF no-repeat;
            }

            .Off,
            .Disabled {
              background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_APP_CLOSE_ON no-repeat;
            }
          }

          > .Top,
          > .Middle,
          > .Bottom {
            > .Left,
            > .Right {
              width: $INNER_PADDING  + px;
            }
          }

          > .Top {
            > .Left,
            > .Center,
            > .Center .Header,
            > .Right {
              height: $TOP_BAR_HEIGHT + px;
            }
          }

          > .Middle {
            > .Center > .Content {
              left: - $INNER_PADDING + px;
            }
          }

          > .Bottom {
            > .Left,
            > .Center,
            > .Right {
              height: $BOTTOM_HEIGHT + px;
            }
          }

          > .Top {
            .Center {
              .Header {
                .Content {
                  margin-left: $INNER_PADDING + px;
                }
              }
            }
          }
        }

        .ScrollBar {
          .Tracker {
            background-color: $IO_VISIONSDK_GRAY_DARK_7;
          }

          .Vertical,
          .Horizontal {
            .Tracker .Button {
              .Off {
                .Top,
                .Center,
                .Bottom {
                  background-color: $IO_VISIONSDK_GRAY_DARK_2;
                }
              }

              .On {
                .Top,
                .Center,
                .Bottom {
                  background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
                }
              }

              .Active {
                .Top,
                .Center,
                .Bottom {
                  background-color: $IO_VISIONSDK_GREEN_LIGHT_4;
                }
              }
            }
          }
        }
      }

      .Header {
        .Text {
          color: $IO_VISIONSDK_WHITE;
          font-size: 24px;
          line-height: $TOP_BAR_HEIGHT + px;
        }
      }

      .InfoEnvelop {
        padding: 0 $INNER_PADDING + px;

        .Label {
          clear: both;
          float: none;
          line-height: 22px;

          .Text {
            color: $IO_VISIONSDK_WHITE;
            font-weight: normal;
          }
        }
      }
    }

    .ConsoleDialog {
      $TOP_BAR_HEIGHT: 24;
      $BOTTOM_HEIGHT: 12;
      $INNER_PADDING: 20;

      .Dialog {
        // sass-lint:disable-block no-important
        @include DialogMixin($TOP_BAR_HEIGHT, $BOTTOM_HEIGHT, $INNER_PADDING);
        position: absolute;

        .ConsolePanel > [guiType="Panel"] > .Envelop > .Content {
          position: initial;
        }
      }

      .AppClose {
        margin-top: 4px;
      }
    }

    .AppWizardDialog {
      $TOP_BAR_HEIGHT: 64;
      $BOTTOM_HEIGHT: 24;
      $NAV_HEIGHT: 32;
      $INNER_PADDING: 30;
      position: absolute;

      .Dialog {
        // sass-lint:disable-block no-important
        @include DialogMixin($TOP_BAR_HEIGHT, $BOTTOM_HEIGHT, $INNER_PADDING);
        position: relative;
        z-index: 999999999 !important;

        .AppClose {
          margin-left: 2px;
          margin-top: 10px;
        }

        .Navigation {
          height: $NAV_HEIGHT + px;
          top: - $TOP_BAR_HEIGHT - $NAV_HEIGHT + px;

        }
      }
    }

    .WizardDropArea {
      height: 100%;
      width: 100%;

      > div > div > div:not(.Dialog) {
        box-shadow: 0 0 0 2px $IO_VISIONSDK_ORANGE;
      }
    }

    .WizardUIShield {
      bottom: 0;
      display: none;
      height: 100%;
      left: 0;
      position: fixed;
      right: 0;
      top: 26px;
      z-index: 999999;
    }

    .DialogHolder {
      height: 0;
      position: absolute;

      .Dialog {
        [guiType="Dialog"] {
          > .Envelop {
            > .Bottom {
              > .Left,
              > .Center,
              > .Right {
                height: 0;
              }
            }
          }
        }
      }
    }

    .KernelNodeHelpDialog .Dialog {
      .Header {
        overflow: visible;

        .Icons {
          background-color: $IO_VISIONSDK_SKYBLUE;
          border-radius: 30px;
          height: 55px;
          left: 10px;
          position: relative;
          top: -17px;
          width: 55px;

          .Icon {
            left: 5px;
            top: 5px;
          }
        }
      }
    }
  }
}
