// * ********************************************************************************************************* *
// *
// * Copyright (c) 2019 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../baseReference";

@mixin AreaPanel($typeMap) {
  > [guiType="Panel"] > .Envelop > .Content {
    @each $name, $type in $typeMap {
      > .#{$name} {
        > .Panel {
          left: -#{map-get($type, panelBorderSizePx)}px;
          top: -#{map-get($type, panelBorderSizePx)}px;
        }
        background: #{map-get($type, panelBackground)};
        border: #{map-get($type, panelBorderSizePx)}px solid #{map-get($type, accentColor)};

        [guiType="AreaEnvelop"] {
          .AreaBackground {
            background: #{map-get($type, areaBackgroundOff)};
            margin-right: 1px;
          }

          &.On {
            > .AreaBackground {
              background: #{map-get($type, areaBackgroundOn)};
            }
          }

          &.On,
          &.Off {
            > .ExpandArea {
              background: #{map-get($type, expandBackground)};
              box-shadow: 0 0 12px 1px $IO_VISIONSDK_GRAY_DARK_5;
              margin-right: 1px;

              .DimensionsIndicator {
                .TopLeft {
                  .Text {
                    left: 6px;
                    top: -24px;
                  }
                }

                .TopRight {
                  .Text {
                    right: 6px;
                    top: -24px;
                  }
                }

                .BottomRight {
                  .Text {
                    bottom: -24px;
                    right: 6px;
                  }
                }

                .BottomLeft {
                  .Text {
                    bottom: -24px;
                    left: 6px;
                  }
                }

                .Text {
                  color: $IO_VISIONSDK_WHITE;
                  font-size: 14px;
                  text-shadow: 0 0 6px $IO_VISIONSDK_BLACK;
                }
              }
            }

            > .CollapseArea {
              background: #{map-get($type, collapseBackground)};
              margin-right: 1px;
            }
          }
        }
      }
    }
  }
}
