// * ********************************************************************************************************* *
// *
// * Copyright (c) 2019 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../baseReference";

@mixin ControlPanel($typeMap) {
  @each $name, $type in $typeMap {
    .#{$name} {
      background: map-get($type, background);
    }
  }
}
